.mp-canvas {
	width: 100vw;
	height: 100vh;
}
.three-container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 6;
	background-color: transparent;
	width: 100vw;
	height: 100vh;
	border-radius: 1em;
}
@media (max-width: 728px) {
	.mp-canvas {
		width: 728px;
	}
	.three-container {
		width: 100vw;
		height: 100vh;
	}
}
